@model  IEnumerable<SBISCCMWeb.Models.PreviewMatchData.DCP.DCP_StockExchange>
<div class="table-responsive wrap tabScroll InnerTabHeight">
    <table class="table table-bordered" role="grid" style="margin:5px;width:99%">
        <thead>
            <tr>
                @{
                    <th>
                        CountryISOAlpha2Code
                    </th>
                    <th>
                        StockExchangeTickerName
                    </th>
                    <th>
                        StockExchangeName
                    </th>
                    <th>
                        PrimaryStockExchangeIndicator
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.CountryISOAlpha2Code
                            </td>
                            <td>
                                @item.StockExchangeTickerName
                            </td>
                            <td>
                                @item.StockExchangeName
                            </td>
                            <td>
                                @item.PrimaryStockExchangeIndicator
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">No record found</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
