@using SBISCCMWeb.LanguageResources;
<article class="col-md-6 sortable-grid ui-sortable" id="articleDandBDirectCredentialsTop">
    <div class="sortable-grid ui-sortable widget-data" id="articleDnBDirectCredentials">
        <div class="jarviswidget jarviswidget-sortable jarviswidget-color-blueDark" data-widget-custombutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false" role="widget">
            <header role="heading">
                <h2>
                    <i class="fa fa-slack"></i>
                    <strong>@OISettingLang.hdrOrbCredentials</strong>
                </h2>
            </header>
            <div role="content">
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body no-padding">
                    <div class="tab-content padding-10">
                        <div id="divPartialOrbLicense">
                            @{Html.RenderAction("IndexOILicense", "OISetting");}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

