@using SBISCCMWeb.Models;
@model CleanseMatchSettingsModel

@{
    Layout = null;
}
@*@using (Html.BeginForm("DirectPlusAPICredentials", "CleanseMatchSettings", FormMethod.Post, new { id = "form_directplusapi" }))
{*@
<form id="form_directplusapi">
    <table data-swhgcallback="" data-swhgcontainer="dgBanInputData" data-swhgajax="true" class="table table-bordered panel-group customTable">
        <tbody>
            <tr>
                <td>
                    <div class="form-group">
                        @*@Html.Hidden("SettingName", (string)ViewBag.ApiLayer)*@
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label for="UserName">API Key</label>

                                @Html.TextBoxFor(@model => Model.Settings[Model.DNB_PLUS_KEY].SettingValue, Model.Settings[Model.DNB_PLUS_KEY].SettingValue, new { @class = "form-control sideTextboxes", @placeholder = "User Name", autocomplete = "off", @id = "txtUserName", onfocus = "this.removeAttribute('readonly');", @readonly = true })
                                <span id="spnUserName" class="MonitoringError" style="display:none;">User Name is required.</span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label for="Password">API Secret</label>
                                @Html.PasswordFor(@model => Model.Settings[Model.DNB_PLUS_SECRET].SettingValue, new { value = string.IsNullOrEmpty(Model.Settings[Model.DNB_PLUS_SECRET].SettingValue) ? "" : SBISCCMWeb.Utility.Utility.GetEncryptedString(Model.Settings[Model.DNB_PLUS_SECRET].SettingValue), @class = "form-control sideTextboxes DnBPassword", @placeholder = "Password", autocomplete = "off", @id = "txtPassword", onfocus = "this.removeAttribute('readonly');", @readonly = true })
                                <span id="spnPassword" class="MonitoringError" style="display:none;">Password is required.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <input type="button" value="Update" name="btnSubmit" id="btnSubmit" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</form>
@* } *@