@using SBISCCMWeb.LanguageResources;
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = AccountLang.titleForgotConfirmation;
}
<link href="~/Content/Custom.css" rel="stylesheet" />
<div class="title">
    <h1>@ViewBag.Title.</h1>
</div>
<div>
    <p>
        @AccountLang.lblCheckEmailToResetPassword
    </p>
</div>

