@using SBISCCMWeb.LanguageResources;
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = AccountLang.titleResetConfirmation;
}

<div class="title">
    <h1>@ViewBag.Title.</h1>
</div>
<div>
    <p>
        @AccountLang.lblPasswordReset @Html.ActionLink(AccountLang.lblClickToLogIn, AccountLang.lblLogin, "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
