@using SBISCCMWeb.Utility
@model object

@{
    var htmlAttributes = new RouteValueDictionary();
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", "form-control " + ViewBag.@class);
    }
    else
    {
        htmlAttributes.Add("class", "form-control");
    }
}
<section>
    @Html.LabelFor(m => m, new { @class = "label" })
	<label class="input@(Html.ValidationErrorFor(m => m, " state-error"))">
        @Html.Password(
            "",
            ViewData.TemplateInfo.FormattedModelValue,
            htmlAttributes)        
	</label>
    @Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })
</section>