@using SBISCompanyCleanseMatchBusiness.Objects.EntitiesAndAdapters;
@using SBISCCMWeb.LanguageResources;


@{
    Layout = null;
}

<div class="modal" id="ImportFileTemplatesModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <button type="submit" class="btn btn-primary" onclick="addNewTemplateFromImport()" style="margin-right:10px;">@PortalSettingLang.titleAddNewTemplate</button>
                </div>
                <h4 class="modal-title">@ImportDataLang.lblImportFileTemplate</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    @Html.AntiForgeryToken()

                    <div id="ImportDataTemplateListFilter">
                        @Html.Partial("~/Views/Shared/FilterPartial.cshtml")
                    </div>

                    <div id="divPartialImportTemplate">
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

